<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Đọc nước đi pychess</title>
</head>

<body>
    <form method="post" action="/">
        <input type="text" name="link" value="{{value}}" style="width: 300px;"></input>
        <button type="submit">Submit</button>
    </form>
    <textarea rows="50" style="width: 300px;">{{reading}}</textarea>
</body>

</html>